<div class = "container" >
    <div class = "row" >
        <div class = "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto" >
            <h1>User info</h1>

            <!--バリデーション-->
            <% if @user.errors.any? %>
              <%= @user.errors.count %>errors prohibited this obj from being saved:
              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            <% end %>


            <%= form_with model: @user, url: user_path(@user.id), method: :patch, local:true do |f| %>
             <div>
               <label>Name</label><br>
               <%= f.text_field :name %>
             </div><br>
             <div>
                 <label>Image</label><br>
                 <%= f.file_field :profile_image, accept: "image/*" %>
             </div><br>
             <div>
               <label>Introduction</label><br>
               <%= f.text_area :introduction %>
             </div><br>
             <div>
               <%= f.submit "Update User" %>
             </div>
            <% end %>
        </div>
    </div>
</div>